body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d8d8d8;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  color: #000000;
  display: grid;
  place-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.logo h2 {
  margin: 0;
  text-align: left;
}

.logo p {
  margin: 0;
  font-size: 12px;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 70%;
  color: #808080;
  font-size: 20px;
  font-weight: thin;
}

nav li {
  margin: 0 10px;
  padding-bottom: 7px;
  cursor: pointer;
}

nav li:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #808080;
}

.fa {
  font-size: 20px;
  margin: 0 5px;
  color: #000000;
  cursor: pointer;
}

.slider {
  position: relative;
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-container {
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  aspect-ratio: 16/9;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 15px 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.5s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery {
  column-count: 4;
  column-gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.gallery-item {
  break-inside: avoid;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-content {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

.close {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

hr {
  width: 90%;
  height: 1px;
  margin: 20px 0;
  background-color: #808080;
}

footer {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  text-align: center;
  color: #808080;
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  .gallery {
    column-count: 3;
  }

  footer h2 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .gallery {
    column-count: 2;
  }
}
